@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  inline-size: 100%;
  max-inline-size: 1440px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: #d9d9d9
}

@layer components{
  .padding-x-mobile{
    @apply px-6
  }
  .padding-x-tablet{
    @apply px-10
  }
  .padding-x-desktop{
    @apply px-40
  }
}
